/* Css for the styling of tables */
table {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    border: 10px;
    background-color: white;
    text-align: center;
}

th, td {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

th {
    background-color: #cac5c594;
    color: black;
}

td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f0f0f0;
}

/*  for image in table */
img {
    border-radius: 5px;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
