<nav>
    <ul class="dynamicside">
      <li onclick="hideside()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#0a0a0a"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li><a href="../shoesty/shoes.php">Shoes</a></li> 
      <li><a href="../shoesty/userpage.php">Account</a></li>
    </ul>
    <ul>
      <li><a href="index.php"><img src="images/name.png" class="logoname"></a></li>
      <li class="mobilehidden"><a href="../shoesty/shoes.php">Shoes</a></li>
      <li class="mobilehidden"><a href="../shoesty/userpage.php">Account</a></li>
      <li class="menubutton" onclick="showside()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#0a0a0a"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
  </nav>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const sidebar = document.querySelector(".dynamicside");
      sidebar.style.display = 'none';
    });

    function showside() {
      const sidebar = document.querySelector(".dynamicside");
      sidebar.style.display = 'flex';
    }

    function hideside() {
      const sidebar = document.querySelector(".dynamicside");
      sidebar.style.display = 'none';
    }
  </script>